<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}Ben Myers{% endblock %}</title>
    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- implement cache busting with {{version}} -->
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}?v={{ version }}">
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>

</head>
<body>

    <!-- Include the Navbar -->
    {% include 'navbar.html' %}

    <!-- Main Content Block -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Include the Footer -->
    {% include 'footer.html' %}

</body>
</html>
