<!DOCTYPE html>
<html lang="en">
<head>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0" />
    <meta charset = "UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Ben Myers</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles.css') }}?v={{ version }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/general_styles.css') }}?v={{ version }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="hero">
        <h1>Welcome to Ben Myers' Website</h1>
        <p>Up and coming software developer</p>
        <a href="#contact" class="btn">Get in touch</a>
    </section>

    <section id="about">
        <h2>About Me</h2>
        <p>Insert your bio and information about your skills and experience here.</p>
    </section>

    <section id="projects">
        <h2>Projects</h2>
        <p>Showcase your projects and provide links to their repositories or live demos.</p>
    </section>

    <section id="contact">
        <h2>Contact Me</h2>
        <p>Include a contact form or your preferred method of contact here.</p>
    </section>

    <footer>
        <p>&copy; 2022 Ben Myers. All rights reserved.</p>
    </footer>
</body>
</html>