{% extends 'base.html' %}

{% block title %}Home - Ben Myers{% endblock %}

{% block content %}
<div id="background-container" class="relative flex-grow h-full w-full overflow-hidden bg-cover bg-center">
    <!-- Main Content -->
    <div class="relative z-10 flex flex-col justify-center items-center h-full text-center mt-8 mb-8">
        <p class="text-5xl text-white mb-6 leading-relaxed max-w-xl animate-slide-in">
            I'm Ben Myers, a full-stack web developer
        </p>
        <a href="{{ url_for('projects') }}" class="font-extrabold rounded-lg text-md font-semibold animate-slide-in">
            See My Projects
        </a>
    </div>
</div>

<style>
    html,body {
        animation: gradientAnimation 20s ease 1; /* Runs once */
    }
    @keyframes gradientAnimation {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
    /* Adjust text sizes */
    .text-5xl {
        font-size: 3rem; /* Larger text size for the paragraph */
    }

    .text-md {
        font-size: 1.25rem; /* Smaller text size for the button */
    }
</style>

{% endblock %}
